* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Readex Pro";
}

.heading h1 {
    font-size: 2.9rem;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
}

/* @media only screen and (min-width: 1200px) {
    .container {
        max-width: 1320px;
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1* var(--bs-gutter-y));
        margin-right: calc(-.5* var(--bs-gutter-x));
        margin-left: calc(-.5* var(--bs-gutter-x));
    }

    .d-flex {
        display: flex;
    }

    .d-block {
        display: block;
    }
}  */


:root {
    --shoulder: "Big Shoulders Display", sans-serif;
    --raleway: "Raleway", sans-serif;
}

.bg_orange {
    background-color: #EE6C1A;
}

.pumo_video {
    width: 100%;
    height: 75vh;
}

/* banners */
.home_banner {
    background-image: url(/assets/banner/slide-1.webp);
    position: relative;
}

.about_banner {
    background-image: url(/assets/banner/about-banner.webp);
}

.course_banner {
    background-image: url(/assets/banner/courses-banner.webp);
}

.placement_banner {
    background-image: url(/assets/banner/placement-banner.webp);
}

.specific_blog {
    background-image: url(/assets/banner/specific_blog_banner.png);
}

.blog_banner {
    background-image: url(/assets/banner/blog_banner.png);
}

.contact_banner {
    background-image: url(/assets/banner/contact_banner.png);
}

.embedded_chn {
    background-image: url(/assets/banner/embedded-banner.webp);
}

.cad {
    background-image: url(/assets/banner/cad-banner.webp);
}

.full_stack {
    background-image: url(/assets/banner/full-stack-banner.webp);
}

.plc {
    background-image: url(/assets/banner/plc-banner.webp);
}

.ui_banner {
    background-image: url(/assets/banner/ui-banner.webp);
}

.python_banner {
    background-image: url(/assets/banner/python-banner.webp);
}

.sap_banner {
    background-image: url(/assets/banner/sap_banner.webp);
}

.interior {
    background-image: url(/assets/banner/interior-banner.webp);
}

.data_cbe {
    background-image: url(/assets/banner/data-science-banner.webp);
}

.land_placement {
    margin-bottom: 5rem;
}

.solid_work {
    background-image: url(/assets/banner/solid-banner.webp);
}

.embedded_chn::after,
.cad::after,
.full_stack::after,
.plc::after,
.ui_banner::after,
.python_banner:after,
.interior:after,
.data_cbe:after,
.sap_banner:after,
.solid_work:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, rgba(20, 132, 236, 0.2) 48.17%, #05346A 93.39%);
    z-index: 1;
}

.home_banner::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(75deg, #000000ed, transparent 80%);
    /* z-index: 1; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

img {
    width: 100%;
    height: auto;
}

.double_color {
    /* background: linear-gradient(to right, #ffca00, #EE6C1A); */
    background: linear-gradient(90deg, #FFCA00 50%, #fe853a 80%, #EE6C1A 100%);
    color: transparent;
    background-clip: text;
}

.orange {
    color: #EE6C1A;
}

.yellow {
    color: #ffca00;
}

.bottom_yellow_line {
    border-bottom: 2px solid #FFCA00;
    padding-bottom: 1rem;
    width: fit-content;
}

a {
    text-decoration: none !important;
}

li {
    list-style-type: none;
}

.deskOnly {
    display: block;
}

.mblOnly {
    display: none;
}

.font_color {
    background: linear-gradient(45deg, #ffca00, #f76001);
    /* background: linear-gradient(90deg, #ffc107 0%, #ffc107 5%, #ffca00 40%, #ffc107 60%, #ffca00 50%, #f76001 100%); */
    color: transparent;
    background-clip: text;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
}

.pumo {
    font-size: 2rem !important;
    font-weight: 400 !important;
    color: #ffca00 !important;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 8px 16px #00000026;
    opacity: 1;
    width: 100%;
}

.logo {
    background-color: #fff;
}

.logo img {
    width: 16rem;
    height: auto;
    padding: 0.5rem;
}

.explore {
    display: flex;
    align-items: center;
    margin-right: 7rem;
}

.explore_icon {
    background-color: #09090a;
    padding: 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.explore_course {
    background-color: #ffca00;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.explore_course p {
    /* background: linear-gradient(90deg, rgba(238, 108, 26, 0) 0%, #ffc107 5%, #ffca00 40%, #f76001 60%, #EE6C1A 80%, #f76001 100%); */
    color: #222;
    background-clip: text;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.main_menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar {
    position: absolute;
    background-color: #FFFBEC;
    top: 4rem;
    right: 100%;
    height: 60vh;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: position 2.9s;
    -webkit-transition: position 2.9s;
    -moz-transition: position 2.9s;
    -ms-transition: position 2.9s;
    -o-transition: position 2.9s;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.toggle {
    right: 0;
    box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);

}

.toggle-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px 2px 2px 3px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #000;
    transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
    display: none;
}

.toggle .line3 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.nav-list-item {
    padding: 10px 0;
    padding: 10px 0;
    color: #ffca00;
}

.menu_link {
    color: #000;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
}

.menu_link::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: left;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
}

.menu_link:hover::before {
    transform: scaleX(1);
}

.menu_link:hover {
    color: #ffac00;
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.head_title {
    z-index: 3;
}

.branch_banner {
    color: #ffca00 !important;
    font-size: 1.1rem !important;
    font-weight: 400 !important;
}

.head_title h1 {
    color: #fff;
    font-size: 3.7rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 3.5rem;
    position: relative;
    border-bottom: 2px solid #FFCA00;
    padding-bottom: 1rem;
    width: fit-content;
}

.head_title p {
    color: #fff;
    font-weight: 300;
    margin-top: 1rem;
    letter-spacing: 1.7px;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.trusted_sec {
    background-color: #f8f9fa;
    padding: 1rem 0;
    box-shadow: 0px 4px 8.4px 0px #00000040;
}

.trusted_partner {
    display: flex;
    align-items: center;
}

.partner_txt {
    flex: 0 0 auto;
    margin-right: 7rem;
}

.partner_logo {
    overflow: hidden;
    width: calc(100% - 200px);
}

.logo_container {
    display: flex;
    /* animation: scroll 20s linear infinite; */
}

.logo_story_container {
    display: flex;
    animation: scroll 15s linear infinite;
}

.logo_container img {
    margin-right: 4rem;
    width: 12rem;
    height: 6rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.partner_txt p {
    font-size: 1.5rem;
    font-weight: 200;
}

.color_yellow {
    background-color: #FFCA00;
    padding: 0.2rem;
    position: relative;
    display: inline-block;
    margin-right: 1.5rem;
    /* Add space for the slant */
}

.color_yellow::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1.52rem;
    width: 0;
    height: 0;
    border-top: 43px solid transparent !important;
    border-left: 1.5rem solid #FFCA00;
}

.pumo_tech {
    align-items: center;
}

.pumo_sec {
    margin: 4.5rem 0;
}

.pumo_tech img {
    width: 100%;
    height: auto;
}

/* .pumo_tech h1{
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
} */

.pumo_tech h1 {
    font-weight: 600;
    position: relative;
    font-size: 3rem;
}

.pumo_tech h1::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 0.5rem;
    width: 2.7rem;
    height: 41%;
    border-radius: 100%;
    background-color: #EFB102;
    z-index: -2;
}

.pumo_tech h2 {
    background-color: #FFCA00;
    padding: 0.2rem;
    position: relative;
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 0.8rem;
}

.pumo_tech .bg_yellow {
    color: #FFCA00;
}

/* .pumo_sec .container {
    max-width: 1050px;
} */

.pumo_tech h6 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.8rem 0;
    border-bottom: 1px solid #ffca00;
    padding-bottom: 0.9rem;
}

.pumo_tech p {
    font-weight: 300;
    color: #5A5A5A;
}

.about_button {
    margin-top: 3rem;
}

.about_button a {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1.4px solid #131313;
    width: fit-content;
    padding: 0.5rem;
}

.about_button p {
    color: #131313;
}

.about_button span {
    font-weight: 500;
}

.about_button img {
    width: 1.5rem;
    height: 1.5rem;
}

.core_activity {
    background-color: #fdf7e6;
    padding: 4rem;
    /* position: relative;
    z-index: -2; */
}

.career_service {
    gap: 2rem;
    display: flex;
    align-items: center;
}

.career_service img {
    width: 5rem;
    height: 5rem;
}

.career_row {
    margin-top: 2rem;
}

.career_icon {
    position: relative;
    z-index: 2;
}

.career_icon::before {
    content: ' ';
    position: absolute;
    background-color: #ffca00;
    border-radius: 100%;
    width: 3.3rem;
    height: 3.3rem;
    left: 0;
    top: 19px;
    z-index: -2;
}

.eng_service_content h4 {
    font-weight: 800;
    color: #002147;
    font-size: 2rem;
    letter-spacing: -1px;
}

.eng_service_content p {
    padding-top: 0.8rem;
}

.custom-top {
    margin-top: 3rem;
}

.career_service .read_more {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-top: 2rem;
    border-top: 1px solid #002147;
    width: fit-content;
    padding-top: 0.5rem;
}

.read_more p:hover {
    color: #002147;

}

.read_more p {
    color: #d5d5cd;
    padding-top: 0;
}

.read_more img {
    width: 1.5rem;
    height: 1.5rem;
}

.yellow_line {
    border-left: 2px solid #ffca00;
}

.core_content p {
    font-weight: 200;
    font-size: 1.5rem;
    letter-spacing: -2px;
}

.core_content h5 {
    font-size: 1.9rem;
    font-weight: 900;
    letter-spacing: -2px;
}

.career_activity h5 {
    color: #002147;
    font-size: 8rem;
    font-weight: 600;
    position: relative;
    z-index: 5;
}

.career_activity h5::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 3rem;
    width: 5rem;
    height: 52%;
    border-radius: 100%;
    background-color: #FFCA00;
    z-index: -1;
}


/* engineering tab */
.enigineering_service {
    margin: 6rem 0;
}

.enigineering_service .activity p {
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: -1px;
}

.enigineering_service .activity h5 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -1px;
    color: #ffca00;
}

.enigineering_service .nav-pills .nav-link {
    border-radius: unset;
    font-size: 1rem;
    font-weight: 500;
}

.nav-pills {
    border-bottom: 2px solid #D9D9D9;
    width: fit-content;
}

.enigineering_service .nav-link {
    color: #646464;
}

.enigineering_service .nav-pills .nav-link.active {
    color: #ffca00;
    border-bottom: 3px solid #ffca00;
    background-color: unset;
    font-weight: 500;
    font-size: 1rem;
}

.nav-link:focus-visible {
    box-shadow: unset;
}

.nav-link:focus,
.nav-link:hover {
    color: #FFCA00;
}

.mechSwiper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.course-card {
    position: relative;
    color: white;
}

.course-card img {
    width: 100%;
    height: auto;
    display: block;
}

.image-bg {
    position: relative;
}

.image-bg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    z-index: 1;
}

.course-card .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.3rem;
    z-index: 2;
}

.course-card h2 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}

.course-card p {
    margin: 5px 0;
}

.view_course p {
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}

.course-card a {
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #EE6C1A 0%, #F6AB1A 45.5%, #EFB102 100%) !important;
    padding: 0.4rem;
    width: fit-content;
    gap: 1rem;
}

.view_course {
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #EE6C1A 0%, #F6AB1A 45.5%, #EFB102 100%) !important;
    padding: 0.4rem;
    width: fit-content;
    gap: 1rem;
    border: 0;
    border-radius: 0;
}

.view_course img {
    width: 1.2rem;
    height: auto;
}

.stickySlider {
    overflow: hidden;
}

.stickySlider .container {
    margin-left: 5vw !important;
    margin-right: 0 !important;
    max-width: unset !important;
}

.mechSwiper .swiper-button-prev,
.autoSwiper .swiper-button-prev,
.DevSwiper .swiper-button-prev,
.civilSwiper .swiper-button-prev,
.sapSwiper .swiper-button-prev,
.aeroSwiper .swiper-button-prev {
    top: unset;
    bottom: 0;
    right: 12rem;
    left: unset;
}

.mechSwiper .swiper-button-next,
.autoSwiper .swiper-button-next,
.DevSwiper .swiper-button-next,
.civilSwiper .swiper-button-next,
.sapSwiper .swiper-button-next,
.aeroSwiper .swiper-button-next {
    top: unset;
    left: unset;
    right: 10rem;
    bottom: 0;
}

.mechSwiper .swiper-wrapper,
.autoSwiper .swiper-wrapper,
.DevSwiper .swiper-wrapper,
.civilSwiper .swiper-wrapper,
.sapSwiper .swiper-wrapper,
.aeroSwiper .swiper-wrapper {
    padding-bottom: 4rem;
}

.mechSwiper .swiper-button-next:after,
.mechSwiper .swiper-button-prev:after,
.autoSwiper .swiper-button-next:after,
.autoSwiper .swiper-button-prev:after,
.DevSwiper .swiper-button-next:after,
.DevSwiper .swiper-button-prev:after,
.civilSwiper .swiper-button-next:after,
.civilSwiper .swiper-button-prev:after,
.sapSwiper .swiper-button-next:after,
.sapSwiper .swiper-button-prev:after,
.aeroSwiper .swiper-button-next:after,
.aeroSwiper .swiper-button-prev:after {
    content: unset;
}

/* trending Course */
.trending_course {
    background-image: url(/assets/images/trending_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.trendingSwiper .swiper-button-next:after,
.trendingSwiper .swiper-button-prev:after,
.serviceSwiper .swiper-button-next:after,
.serviceSwiper .swiper-button-prev:after {
    content: unset;
}

.trendingSwiper .swiper-wrapper,
.serviceSwiper .swiper-wrapper {
    padding-bottom: 3rem;
}

.trendingSwiper .swiper-button-next,
.serviceSwiper .swiper-button-next {
    top: unset;
    left: unset;
    right: 10rem;
    bottom: -1rem;
}

.trendingSwiper .swiper-button-prev,
.serviceSwiper .swiper-button-prev {
    top: unset;
    bottom: -1rem;
    right: 12rem;
    left: unset;
}

.trending_content h5 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-top: 5rem;
}

.trending_content p {
    color: #fff;
    margin-top: 3rem;
}

.trending_content h6 {
    margin-top: 2rem;
    font-size: 1.9rem;
    font-weight: 700;
    background: linear-gradient(275.26deg, #002147 27.04%, #05346A 55.01%, #005BC3 83.07%);
    color: transparent;
    -webkit-background-clip: text;
}


/* collab companies */
.collab_companies {
    margin: 6rem 0;
}

.collab_companies h6 {
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}

.collab_companies img {
    margin-top: 3rem;
}

.color_yellow_after {
    background-color: #FFCA00;
    padding: 0.2rem;
    font-weight: 600;
    position: relative;

}

.color_yellow_after::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1.7rem;
    width: 0;
    height: 0;
    border-top: 47px solid transparent !important;
    border-left: 1.7rem solid #FFCA00
}

.running_numbers {
    position: relative;
    padding: 2.5rem 0;
    background-image: url('/assets/images/welding.png');
    background-position: center;
    color: white;
    overflow: hidden;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.running_numbers::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;

}

.stat-box {
    position: relative;
    text-align: center;
    z-index: 2;
}

.stat-box h1 {
    font-size: 3rem;
    font-weight: 600;
}

.stat-box p {
    font-size: 1rem;
    font-weight: 300;
    padding: 0.7rem;
    min-height: 5rem;
}

.stat-box .color_box {
    width: 17rem;
    height: 3px;
    margin: 0.8rem auto;
    border-radius: 30px 30px 0px 0px;
}

.red-line {
    background-color: #ff3d00;
}

.blue-line {
    background-color: #0089ff;
}

.yellow-line {
    background-color: #ffc107;
}

.sis_company {
    border-bottom: 3px solid #222;
    padding: 2rem 0;
    background: linear-gradient(to right, #ffca00 40%, white 40%);
}

.com_name p {
    font-weight: 400;
    font-size: 2rem;
}

.sis_com {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sis_com img {
    width: 8rem;
    height: 4rem;
}

/* training modules */
.training_module {
    margin: 6rem 0;
}

.course_rating p {
    font-size: 0.8rem;
    font-weight: 400;
}

.rating_adj p {
    font-size: 1.5rem;
}

.module_content h6 {
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: capitalize;
    width: 35%;
}

.module_title h4 {
    text-transform: capitalize;
    color: #002147;
    letter-spacing: -1px;
    min-height: 3.5rem;
}

.course_rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.7rem;
}

.image-blue {
    position: relative;

}

.img_blue .card-img-top {
    position: relative;
    z-index: 1;
    height: 14rem;
}

.img_blue::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(270deg, #05346A 0%, #0965D0 100%); */
    /* background: linear-gradient(90deg, #fee79b -13.41%, #f2c598 17.1%, #e6a096 79.57%); linear gradient doesn't look same */
    opacity: 0.5;
    z-index: 2;
}

.module_title {
    position: relative;
    z-index: 3;
    background-color: #fff;
}

.view_all {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    gap: 0.9rem;
    background-color: #2E364B;
    color: #fff;
    width: fit-content;
    padding: 0.3rem;
    position: absolute;
    right: 7rem;
    margin-top: 2rem;
}

.view_all img {
    width: 1.5rem;
    height: auto;
}


/* partner */

.tech_partners {
    overflow: hidden !important;
    background-color: #fff;
    padding: 10rem 23rem 0;
    position: relative;
}

.tech_partners::after {
    content: ' ';
    position: absolute;
    background-image: url(/assets/images/tech_partner/vector.png);
    background-repeat: no-repeat;
    top: 2rem;
    right: -1.8rem;
    background-position: 50%;
    width: 35rem;
    height: 13rem;
    z-index: 5;
}

.tech_partner_title {
    flex: 1;
    color: #000;
    background-color: #ffca00;
    padding: 2rem;
}

.tech_partner_title p:first-child {
    font-size: 2rem;
    font-weight: 300;
}

.tech_partner_title h6 {
    font-size: 2.3rem;
    margin: 0;
    font-weight: 600;
    line-height: 1;
}

.tech_partner_title p:last-child {
    margin-top: 1rem;
}

.tech_partner_title img {
    width: 10rem;
    height: auto;
}

.partner_div {
    padding: 0.1rem;
    border: 1px solid #cfcfcf;
    display: flex;
}

.tech_partner_logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.techPartnerSwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.techPartnerSwiper .swiper-slide img {
    max-width: 20rem;
    height: auto;
    /* max-height: 19rem; */
}

.techPartnerSwiper .swiper-button-prev:after,
.techPartnerSwiper .swiper-button-next:after {
    content: ' ';
}

/* marque */

.marquee-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 3rem 0;
}

.marquee {
    padding: 1vw;
    white-space: nowrap;
    overflow: hidden;
}

.marquee__inner {
    display: flex;
    gap: 20px;
    animation: marquee 45s linear infinite;
}

.marquee__content {
    font-size: 5.5rem;
    line-height: 5.5rem;
    color: #f7f7f7;
    font-weight: 600;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* story with us */

.story_sec h5 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.story_sec p {
    color: #707070;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.story_marquee {
    border-bottom: 8px solid #222;
    overflow: hidden;
    background: linear-gradient(to right, #ffca00 40%, white 40%);
}

.story_title p {
    font-weight: 400;
    font-size: 2rem;
}

.story_com_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: logoMarquee 30s linear infinite;
    white-space: nowrap;
    overflow: hidden;

}

.story_com_logo img {
    height: auto;
    max-width: 100px;
    display: inline-block;

}

.story_title {
    z-index: 1;
}


@keyframes logoMarquee {
    0% {
        transform: translateX(100%);
        /* Start with logos out of view on the right */
    }

    100% {
        transform: translateX(-100%);
        /* Move logos out of view on the left */
    }
}

/* placement */

.placement {
    margin: 5rem 0;
}

.placement h5 {
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.placement .swiper-button-prev:after,
.placement .swiper-button-next:after {
    content: ' ';
}

/* .placementSwiper .swiper-slide {
    width: 368.429px !important;
    margin-right: 20px !important;
} */

.img_tint {
    position: relative;
}

.image-tint::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(0deg, #000000a8, transparent 50%)
}

.placement {
    position: relative;
    padding-bottom: 6rem;
}

.placement::after {
    content: ' ';
    position: absolute;
    background-color: #fdf4d9;
    height: 100vh;
    width: 100%;
    top: 15rem;
    left: 0;
}

/* youtube */
.youtube_video {
    margin: 0 9rem;
    position: relative;
}

.pumo_video {
    border-radius: 1.5rem;
}

.youtube_video::after {
    content: ' ';
    position: absolute;
    background-color: #fae07d;
    width: 85%;
    height: 90vh;
    z-index: -1;
    left: 4.5rem;
    border-radius: 2rem;
}

.youtube {
    margin: 15rem 0;
}

/* form */
.form_sec {
    margin: 5rem 10rem;
}

.form_des {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    margin: auto;
    background-image: url(/assets/images/form_bg.png);
}

.offer-text h5 {
    font-size: 3rem;
    font-weight: 600;
    color: #EE6C1A;
    letter-spacing: -1px;
}

.offer-text h6 {
    color: #454545;
    font-size: 3rem;
    letter-spacing: -1px;
    font-weight: 600;
    padding-bottom: 1rem;
}

.offer-text p {
    font-family: 'Raleway', sans-serif;
    color: #454545;
    font-size: 1rem;
    letter-spacing: 8px;
    font-weight: 600;
    border-top: 1px solid #8e897b;
    width: fit-content;
    padding-top: 0.8rem;
}

.form {
    max-width: 30%;
}

.form input,
.form select,
.form textarea {
    width: 100%;
    padding: 0.7rem;
    margin: 0.5rem 0;
    border: 1px solid #ffca00;
    background-color: #FFF9E1;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    /* font-family: "Raleway", sans-serif; */
    color: #222;
}

.form input:focus-visible,
.form select:focus-visible,
.form textarea:focus-visible {
    border: 3px solid #ffca00;
    color: #212529;
    outline: unset;
}

.sumbit_btn {
    padding: 0.5rem 2rem;
    background-color: #FFF9E1;
    margin-top: 1rem;
    color: #222;
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 700;
    border-image-source: linear-gradient(90deg, #EE6C1A 0%, #D6372C 16.67%, #FFFFFF 33.33%, #FFCA00 50%, #FFFFFF 66.67%, #F1A40E 83.33%, #D6372C 100%);
    border-image-slice: 1;
}

.student-image img {
    width: 100%;
    border-radius: 10px;
}

/* footer */
.footer {
    overflow: hidden;
    background-color: #EFB102;
    margin-top: 8rem;
}

.footer_logo {
    position: relative;
    background-color: #fff;
    height: 23rem;
    padding: 6rem;
    box-shadow: 26px 25px 20px 0px #0000001A;
    border: 2px solid #cfcfcf;
    top: -2rem;
    /* z-index: 5; */
}

.location {
    padding: 3rem;
}

.location h4 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    border-bottom: 2px solid #fff;
    width: fit-content;
    padding-bottom: 0.7rem;
}

.accordion {
    margin-top: 2rem;
    background: transparent !important;
    --bs-accordion-bg: unset;
}

.accordion-item {
    color: #fff;
    border-bottom: 2px solid #FFD226;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.accordion-item h5 {
    padding: 1em 1em 1em 0;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.3rem;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content address {
    max-width: 90%;
    font-size: 1.2rem;
    font-weight: 300;
}

.accordion-content.active {
    max-height: auto;
}

.accordion-item h5::before {
    content: "+";
    position: absolute;
    right: 10px;
}

.accordion-item.active h5::before {
    content: "-";
}

@media (max-width: 767px) {
    .accordion {
        max-width: 100vw;
        margin: 0 auto;
    }
}

/* quick links */

.quick_links {
    margin: 2rem 0 0;
    overflow: hidden;
}

.quick_links img {
    width: 14rem;
    height: auto;
}

.quick_links ul {
    line-height: 3rem;
    padding-left: 2rem;
}

.quick_links li {
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: capitalize;
    color: #131313;
}

.address {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin: 1.5rem auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.address h6 {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #131313;
}

.email p,
.address p {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #131313;
}

.email {
    text-align: end;
}

.social_media_sec {
    overflow: hidden;
    padding-bottom: 1.5rem;
}

.media_icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.media_icons img {
    width: 3rem;
    height: 3rem;
}

/* landing page */
.enquiry {
    padding-top: 5rem;
    gap: 3rem;
    display: flex;
    align-items: center;
    color: #000;
}

.enquiry p {
    color: #fff;
}

.enquire_content {
    display: flex;
    align-items: center;
}

.enquire_content p {
    background-color: #FFCA00;
    padding: 0.32rem;
    position: relative;
    display: inline-block;
    margin-right: 1.5rem;
    color: #131313 !important;
    font-weight: 400;
}

.enquire_content p::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1.5rem;
    width: 0;
    height: 0;
    border-top: 35px solid transparent !important;
    border-left: 1.5rem solid #FFCA00;
}

.enquire_content img {
    background-color: #0965d0;
    width: 2.2rem;
    height: 2.2rem;
}

.enquiry_call {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
    z-index: 5;
}

.enquiry_call p:last-child {
    color: #fff;
}

.landing_form {
    margin: 5rem 0;
    border-bottom: 3px solid #ededed;
    padding-bottom: 4rem;
}

.course_details .page_title_course {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.5rem;
}

.course_details .page_title {
    font-family: var(--shoulder);
    text-transform: capitalize;
    font-weight: 900;
    font-size: 2.5rem;
    color: #F18114;
    padding: 0.5rem 0;
}

.land_placement h3 {
    font-size: 12rem;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(to right, #ffca00, #EE6C1A);
    background-clip: text;
}

.land_placement .spc_course_title {
    font-size: 1.7rem;
    font-weight: 200;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.land_placement h5 {
    background-color: #EE6C1A;
    width: fit-content;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0.6rem 1.4rem;
    margin-top: 1rem;
}

.course_form {
    background-color: #fffdf5;
    padding: 3.5rem;
    box-shadow: 0 8.51497px 10.40719px #00000026;
    margin-left: 13rem;
    display: grid;
    width: auto;
}

.no_one_course {
    padding-left: 10rem;
}

.course_form input,
.course_form select,
.course_form textarea {
    margin: 0;
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
    border: 1px solid #FFCA00;
    background-color: #FFF9E1;
    /* color: #dad5c2; */
    font-family: var(--raleway);
    font-weight: 500;
    text-transform: capitalize;
}


.course_form input:focus-visible,
.course_form select:focus-visible,
.course_form textarea:focus-visible {
    color: #222;
    border: 2px solid #ffac00;
    outline: unset;
}

.form_submit {
    width: fit-content;
    padding: 0.3rem 2rem;
    background-color: #ffca00;
    font-size: 1.4rem;
    font-weight: 600;
    border: unset;
    margin-top: 1.5rem;
}

.course_form p {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -1px;
}

.course_form h6 {
    color: #EE6C1A;
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.course_content h2,
.course_content h4 {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.course_content p {
    margin-top: 1rem;
}

.apply {
    font-family: var(--shoulder);
    color: #EE6C1A;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 2rem;
    font-weight: 700;
}

.career {
    font-family: var(--shoulder);
    color: #05346A;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.landing_form .formSwiper {
    padding-bottom: 5rem;
}

.course_tools h2,
.course_syllabus h2 {
    font-size: 1.9rem;
    font-weight: 600;
    color: #454545;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.course_tools h3,
.course_syllabus h3 {
    color: #EE6C1A;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.course_syllabus,
.course_tools {
    margin: 5rem 0;
}

.course_syllabus {
    background-color: #fffcf2;
    padding: 9rem 5rem;
}

.course_syllabus .accordion {
    margin-left: 10rem;
}

.course_syllabus .accordion-button::after {
    background-image: url(/assets/icons/add_circle.png);
}

.course_syllabus .accordion-button:not(.collapsed)::after {
    background-image: url(/assets/icons/wrong_circle.png)
}

.syllabus_column img {
    width: 35rem;
    height: auto;
}

.syllabus_question .accordion-button:not(.collapsed) {
    color: #EE6C1A;
    background-color: unset;
    font-weight: 400;
}

.syllabus_question .accordion-button:focus,
.faq .accordion-button:focus {
    box-shadow: none;
}

.syllabus_question .accordion-button {
    padding-left: 0;
    font-weight: 300;
    font-size: 1.3rem;
    color: #131313;
    border-bottom: 1px solid #000000;
}

.syllabus_ans ul {
    padding-left: unset;
}

.syllabus_ans li {
    color: #131313;
    font-weight: 300;
    list-style-type: disc;
}

.syllabus_question {
    border-bottom: 1px solid #000000;
}

.course_accordion {
    max-height: 40rem;
    overflow-y: scroll;
}

.course_accordion::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.course_accordion {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.stand_out {
    margin: 6rem 0;
}

.stand_out h6 {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.numbers {
    font-size: 2.2rem;
    font-weight: 600;
    color: #EE6C1A;
    letter-spacing: -2px;
    line-height: 2.5rem;
    padding: 1.5rem 0;
    text-transform: capitalize;
}

.form_achievement img {
    width: 5rem;
    height: auto;
}

.achievement_div {
    margin-top: 5rem !important;
    display: flex;
    gap: 5rem;
}

.faq {
    background-color: #ffe47f;
    padding: 4rem 0;
}

.faq h6 {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.faq .accordion-button:not(.collapsed) {
    background-color: unset;
    box-shadow: unset;
    font-weight: 600;
    color: #131313;
}

.faq p {
    color: #131313;
    width: 75%;
}

.faq .accordion_icon::after {
    background-image: url(/assets/icons/unfold_more.png);
}

.faq .accordion_icon:not(.collapsed)::after {
    background-image: url(/assets/icons/unfold_less.png);
}

/* courses page */
.para_crt p {
    letter-spacing: unset;
}

.banner_down img {
    width: 3rem;
}

.banner_down {
    overflow: hidden;
    padding: 1rem 2.5rem;
    border-bottom: 1px solid #454545;
}

.begineer_grid {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.begineer_grid h6 {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: -1px;
    color: #EE6C1A;
}

.begineer_grid p {
    padding-top: 0.2rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.course_overview_sec {
    margin: 6rem 0;
}

.course_overview h2 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.course_overview img {
    width: 20rem;
    height: auto;
}

.course_overview p {
    padding: 3rem 0;
}

.style_available {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -1px;
    background-color: #fffcf2;
    width: fit-content;
    padding: 0 1rem !important;
}

.no_one {
    padding-left: 15rem;
}

.no_one h3 {
    font-size: 12rem;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(to right, #ffca00, #EE6C1A);
    background-clip: text;
}

.no_one p {
    font-size: 1.7rem;
    font-weight: 200;
    letter-spacing: -1px;
}

.no_one h4 {
    background-color: #EE6C1A;
    width: fit-content;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.6rem 1.4rem;
    margin-top: 1rem;
}

.it_course,
.mech,
.electrical,
.civil,
.sap,
.aero {
    margin: 6rem 0;
}

.it_course .our,
.mech .our,
.electrical .our,
.civil .our,
.sap .our,
.aero .our {
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: -1px;
}

.it_course h3,
.mech h3,
.electrical h3,
.civil h3,
.sap h3,
.aero h3 {
    color: #EE6C1A;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.electCourse,
.mechCourse,
.itCourse,
.civilCourse,
.sapCourse,
.aeroCourse {
    padding: 3rem 0;
}

.electCourse .swiper-button-next,
.mechCourse .swiper-button-next,
.itCourse .swiper-button-next,
.civilCourse .swiper-button-next,
.sapCourse .swiper-button-next,
.aeroCourse .swiper-button-next {
    top: unset;
    bottom: 0;
    right: 10rem;
    left: unset;
}

.electCourse .swiper-button-prev,
.mechCourse .swiper-button-prev,
.itCourse .swiper-button-prev,
.civilCourse .swiper-button-prev,
.sapCourse .swiper-button-prev,
.aeroCourse .swiper-button-prev {
    top: unset;
    bottom: 0;
    right: 12rem;
    left: unset;
}

.electCourse .swiper-button-next:after,
.electCourse .swiper-button-prev:after,
.mechCourse .swiper-button-next:after,
.mechCourse .swiper-button-prev:after,
.itCourse .swiper-button-next:after,
.itCourse .swiper-button-prev:after,
.civilCourse .swiper-button-next:after,
.civilCourse .swiper-button-prev:after,
.sapCourse .swiper-button-next:after,
.sapCourse .swiper-button-prev:after,
.aeroCourse .swiper-button-next:after,
.aeroCourse .swiper-button-prev:after {
    content: unset;
}

.design_image {
    background-image: url(/assets/banner/mechnacial.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    height: 35vh;
    display: flex;
    align-items: center;
}

.design_image h5 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.aero {
    background-color: #fef7f3;
    padding: 3rem 0;
}

/* new */
* {
    box-sizing: border-box;

}

body {
    margin: 0;
    scroll-behavior: smooth;
}

.marquee_com {
    box-shadow: 0px 32px 23.3px 0px #00000033;
    padding: 1vw;
    white-space: nowrap;
    overflow: hidden;


}

.marquee-content {
    display: flex;
    align-items: center;
    animation: scrolling 30s linear infinite;
}

.marquee-item {
    /* flex: 0 0 16vw; */
    margin: 0 1vw;
}

.marquee-item img {
    display: block;
    width: 6rem;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(-144vw);
    }
}

.leading_com {
    background-image: url(/assets/banner/leading_company.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.leading_com h5 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

/* about */

.about_pumo {
    margin: 6rem 0;
}

.about_pumo h2 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 3.5rem;
}

.about_pumo h6 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.about_pumo h3 {
    color: #0965D0;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.about_pumo p {
    padding-top: 1rem;
    color: #454545;
}

.about_pumo img {
    width: 30rem;
    height: 1rem;
}

.mission_div {
    background-image: url(/assets/banner/mission.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: contain;
    padding: 5rem;
}

.mission_div .nav-link {
    color: #fff;
}

.mission_div .nav-pills .nav-link.active {
    background-color: unset;
    font-weight: 700;
    border-bottom: 1px solid;
    border-radius: unset;
}

.mission_sec .swiper {
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: contain;
}

.mission_sec .swiper .one {
    background-image: url(/assets/banner/mission.png);
}

.mission_sec .swiper .two {
    background-image: url(/assets/banner/home_banner.png);
}

.mission_sec .swiper .three {
    background-image: url(/assets/banner/mission.png);
}

.mission_content {
    margin-top: 17rem;
}

.mission_content h5 {
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
}

.mission_content p {
    color: #fff;
    padding-top: 1rem;
}

.solution_sec {
    margin: 0 0 6rem 0;
    padding: 0 10rem;
}

.solution_sec h5 {
    color: #131313;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: -2px;
}

.solution_sec p {
    color: #131313;
    margin: 3rem auto;
}

.solution_sec button {
    border: unset;
    color: #fff;
    background: #2E364B;
    padding: 0.3rem;
}

.group_com_sec {
    margin: 6rem 0;
}

.group_com_sec h4 {
    font-size: 4rem;
    font-weight: 700;
}

.group_com_sec p {
    font-weight: 600;
}

.agent_cadd_sec {
    margin-bottom: 6rem;
    background-image: url(/assets/banner/group-comp.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
}

.agent_cad_sec .ourSisCompanies {
    z-index: 3;
}

.agent_cadd_sec .swiper-button-next:after,
.agent_cadd_sec .swiper-button-prev:after {
    font-size: 2rem;
}

.agent_cadd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 6rem 6rem 2rem;
}

.cadd_content h4,
.cadd_content p {
    color: #fff;
}

.agent_cadd img {
    width: 20rem;
    height: 10rem;
}

.cadd_content h4 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -2px;
}

.cadd::before {
    content: 'CAD LEADER';
    position: absolute;
    font-weight: 200;
    top: -27rem;
    width: 100%;
    height: auto;
    left: -43rem;
    transform: rotate(270deg);
    z-index: 34;
    font-size: 1.4rem;
    color: #fff;
}

.arch::before {
    content: 'MOHAN AND MONZ';
    position: absolute;
    font-weight: 200;
    top: -27rem;
    width: 100%;
    height: auto;
    left: -43rem;
    transform: rotate(270deg);
    z-index: 34;
    font-size: 1.4rem;
    color: #fff;
}

.creative::before {
    content: 'MONZ CREATIVE';
    position: absolute;
    font-weight: 200;
    top: -27rem;
    width: 100%;
    height: auto;
    left: -43rem;
    transform: rotate(270deg);
    z-index: 34;
    font-size: 1.4rem;
    color: #fff;
}

/* placement */

.placement_sec {
    margin: 6rem 0;
}

.our_placement {
    position: relative;
}

.our_placement h2 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 3.5rem;
}

.placement_sec img {
    width: 20rem;
    height: auto;
    margin-left: 5rem;
}

.our_placement::before {
    content: "Our Placement";
    position: absolute;
    transform: rotate(-90deg);
    left: -16rem;
    top: 10.5rem;
    background-color: #ffe47f;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 200;
    letter-spacing: 2px;
}

.placed_student {
    margin: 6rem 0 4rem;
}

.placed_student p {
    font-weight: 200;
    font-size: 1.5rem;
    letter-spacing: -2px;
}

.placed_student h5 {
    font-size: 1.9rem;
    font-weight: 900;
    letter-spacing: -2px;
}

.student_cbe h5 {
    /* color: #D6372C; */
    font-size: 2rem;
    font-weight: 600;
    width: fit-content;
    margin-left: 1.5rem;
    letter-spacing: -2px;
    background: linear-gradient(90deg, rgba(238, 108, 26, 0) 0%, #ffc107 5%, #ffca00 40%, #f76001 60%, #EE6C1A 80%, #f76001 100%);
    color: transparent;
    background-clip: text;
}

.cbeSwiper {
    margin-top: 4rem;
}

.stuSwiper {
    position: relative;
    padding-bottom: 6rem;
    margin: 5rem 0;
}

.stuSwiper::after {
    content: ' ';
    position: absolute;
    background-color: #fdf4d9;
    height: 100vh;
    width: 100%;
    top: 15rem;
    left: 0;
}

.cbeSwiper {
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.cbeSwiper .swiper-button-prev {
    top: unset;
    bottom: 0;
    left: unset;
    right: 12rem;
}

.cbeSwiper .swiper-button-next {
    top: unset;
    bottom: 0;
    left: unset;
    right: 10rem;
}

.cbeSwiper .swiper-button-prev:after,
.cbeSwiper .swiper-button-next:after {
    content: unset;
}

.flexible_sec {
    background-image: url(/assets/banner/placement_page_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    margin: 5rem 0;
}

.flexible_software {
    display: flex;
    align-items: center;
}

.flexible_software h5 {
    color: #fff;
    font-size: 4.3rem;
    font-weight: 700;
    letter-spacing: -2px;
}

.flexible_sec p {
    color: #fff;
}

/* blog */

.blog_technology {
    margin: 6rem 0;
}

.digi_tech {
    margin-left: 12rem;
}

.digi_tech h3 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 3.5rem;
}

.blogs_follow .card {
    box-shadow: 8px 14px 25px 0px #00000040;
    padding: 1.5rem;
    border-radius: unset;
    border: unset;
}

.written_by .blog_logo {
    width: 3rem;
    height: 3rem;
}

.blogs_follow h1 {
    color: #D6372C;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: -1px;
}

.blogs_follow h2 {
    letter-spacing: -1px;
    text-transform: capitalize;
    font-weight: 700;
}

.blogs_follow .card-body {
    padding: 2rem 0;
}

.writer_name {
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000 !important;
    line-height: 1.5rem;
}

.written_by {
    display: flex;
    gap: 2.5rem;
}

.written_by p {
    color: #454545;
    font-weight: 400;
}

.blogs_follow .bottom_space {
    padding-bottom: 3rem;
}

.back_blog {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.back_blog img {
    width: 2rem;
    height: 2rem;
}

.back_blog p {
    text-transform: capitalize;
    font-weight: 500;
}

.blog_content_sec {
    margin: 6rem 0 12rem;
}

.blog_content {
    margin-top: 6rem;
}

.blog_content h2,
.blog_content h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.blog_content_sec p {
    margin-bottom: 1rem;
}

.blogs_follow h5 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

/* contact */

.start_us_sec {
    margin: 10rem 0;
    padding: 0 18rem;
}

.start_with {
    position: relative;
}

.start_with h2 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -2px;
}

.start_with::before {
    content: "say hi";
    position: absolute;
    transform: rotate(-90deg);
    left: -8rem;
    top: 3.5rem;
    background-color: #ffe47f;
    color: #fff;
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.start_with::after {
    content: ' ';
    position: absolute;
    background-image: url(/assets/images/call.jpeg);
    z-index: 3;
    width: 25rem;
    height: 25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: -6rem;
    right: 0;
}

.contact_banner_middle {
    margin-top: 5rem;
    position: absolute;
    top: 75rem;
}

.location_sec {
    position: relative;
    padding: 27rem 0 0;
}

.location_sec .location {
    display: flex;
    /* align-items: center; */
    background: #fff;
    padding: 3rem 6rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.branch-details h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

.branch_add h2 {
    width: fit-content;
    border-top: 2px solid #ffca00;
    padding-top: 1rem;
}

.branch_add p {
    color: #606060;
    margin-bottom: 0.5rem;
}

.branch_add a {
    color: #606060;
    font-weight: 600;
}

.branch-details h3 {
    color: #EE6C1A;
    font-size: 1.3rem;
    border-top: 2px solid #ffca00;
    width: fit-content;
    padding: 1rem 0;
}

.location_sec .tab-content {
    background-color: #ffca00;
}

.branch_location {
    padding: 2rem;
}

.branch_location h4 {
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.branch_location .nav-pills {
    border: 2px solid #EE6C1A33;
    width: fit-content;
    margin: 2rem 0;
}

.branch_location li {
    list-style-type: none;
    color: #80580B;
}

.branch_location .nav-pills .nav-link.active {
    background-color: #fcb805;
    border-bottom: 2px solid #fff;
}

.branch_location .nav-link {
    border-right: 1px solid #80580B !important;
    border-radius: unset;
    padding: 0.7rem;
    color: #80580B;
    font-size: 1rem;
    font-weight: 500;
}


.branch_location .nav-link:hover {
    color: #fffffffa;
}


/* .location{
    display: flex !important;
    background: #fff;
    padding: 5rem 5rem 0;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
} */

.map_size {
    width: 550px;
    height: 450px;
}

/* modal form */

.modal .form_des {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    padding: 2rem;
    margin: auto;
    background: #fdefcf;
}

.modal .offer-text h5 {
    font-size: 2rem;
}

.modal .offer-text h6 {
    font-size: 2rem;
    padding-bottom: 0.5em;
}

.modal .offer-text p {
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

.modal .form {
    max-width: 100%;
}

.icon {
    width: 3rem;
    height: auto;
    position: fixed;
    z-index: 10;
    background: #ffca00;
    border-radius: 30px 35px 30px 0px;
    padding: 0.2rem;
}

.call_icon {
    bottom: 14rem;
    right: 1rem;
}

.whatsup_icon {
    bottom: 10rem;
    right: 1rem;
}

.enquiry {
    bottom: 6.5rem;
    right: 1rem;
    width: fit-content;
    font-weight: 600;
    padding: 0.3rem 1rem;
}

.thank_you {
    margin: 6rem 0;
}

.thank_you h5 {
    font-size: 2rem;
    color: #ffca00;
}

.back {
    background-color: #ffca00;
    width: fit-content;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    border-radius: 5px;
    color: #222;
}

.back:hover {
    color: #ffffffea;
}

.home_enquiry {
    display: flex;
    align-items: center;
}

.home_enquiry img {
    background-color: #0965d0;
    width: 2.5rem;
    height: 2.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.home_enquiry p {
    font-size: 1.2rem;
    background-color: rgb(0 33 71);
    padding: 0.34rem;
    position: relative;
    display: inline-block;
    margin-right: 1.5rem;
    color: #fff !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    letter-spacing: 5px;
    font-weight: 500;
}

.media {
    display: flex;
    align-items: baseline;
    gap: 20rem;
}

.web_counter {
    width: 10rem;
    height: auto;
}

.new_title,
.newForm {
    max-width: 50% !important;
}

.click_more {
    margin: 50% 25% !important;
    padding: 0 !important;
}

.click_more p {
    font-size: 2rem !important;
    font-weight: 700 !important;
}

.after::after {
    content: unset !important;
}

.placement_modal {
    width: 20rem;
    height: 24.5rem;
    background-color: #ffca00;
    font-size: 2rem;
    font-weight: 800;
    border: none;
}

.branch_select p {
    background: linear-gradient(270deg, #ee6c1a 0, #f6ab1a 45.5%, #efb102 100%) !important;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

.branch_select a {
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1px;
}








.view_placement {
    background: #ffca00;
    padding: 0.7rem 1.5rem;
    color: #000;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
    width: fit-content;
    margin-top: 1rem;
}



/* new */
.nav_bar nav ul {
    display: flex;
    gap: 2rem;
    margin-bottom: 0;
}

.nav_bar nav ul li a {
    text-transform: capitalize;
    color: #000;
}

.explore {
    display: flex;
    align-items: center;
    margin-right: 1rem !important;
}